{% extends "base.html" %}
{% block title %}
    Resetting
{% endblock %}

{% block head %}
    <style>
    .profile-img {width: 3rem; height: 3rem; border-radius: 50%; object-fit: cover; margin-right: 1rem}
    </style>
    <script type="text/javascript">
        csrf_token = "{{ csrf_token() }}";
        accounts_delete_url =  "{{ url_for('accounts.delete', _id=current_user.id) }}";
        common_index_url = "{{ url_for('commons.index') }}";
    </script>
{% endblock %}

{% block body %}
    {% if current_user.is_authenticated and profile %}
        <img class="profile-img" src="/{{ profile.image_path }}" alt="">{{ profile.nickname }}
    {% endif %}
        <h1>Account Resetting</h1>
        <p>user.email: {{ user.email }}</p>
        <p>profile.nickname: {{ profile.nickname }}</p>

        <p><a href="{{ url_for('accounts.dashboard') }}">Login-Required Dashboard</a></p>

        {% if current_user.is_authenticated %}
            <p>
                    <a href="{{ url_for('accounts.email_update', _id=current_user.id) }}">이메일 재설정(로그인상태)</a>
            </p>
{#            <p><a href="#">비밀번호 재설정(로그인상태)</a></p>#}
                <p><a href="{{ url_for('accounts.password_update', _id=current_user.id) }}">비밀번호 재설정(로그인상태)</a></p>
        <form method="post">
                    <input type="hidden" name="_id" id="_id" value="{{ current_user.id }}">
                    <button type="button" class="btn" id="accounts-del">탈퇴</button>
                </form>
                <script src="{{ url_for('static', filename='statics/js/accounts/userDelete.js') }}"></script>
        {% else %}
{#            <p><a href="#">비밀번호 재설정(비로그인상태:비밀번호를 잊으셨나요?)</a>#}
                <p><a href="{{ url_for('accounts.forget_password_email') }}">비밀번호 재설정(비로그인상태:비밀번호를 잊으셨나요?)</a>
            </p>
        {% endif %}
        <hr>

        {% if current_user.is_authenticated %}
            {% if not profile %}
                <p>
                    <a href="{{ url_for('profiles.create') }}">create_profile</a>
                </p>
            {% else %}
                {% if profile.level == '일반이용자' %}
                    <a href="{{ url_for('profiles.detail', _id=profile.id) }}">나 {{ profile.nickname }}의 프로필 보기</a>
                {% else %}
                    <a href="{{ url_for('profiles.vendor_detail', _id=profile.id) }}">나 {{ profile.nickname }}의 프로필 보기</a>
                {% endif %}

                <div>{{ profile.level }}</div>
                <div>{{ profile.nickname }} <a href="{{ url_for('profiles.vendor_update', _id=profile.id) }}">
                    {% if profile.level == '일반이용자' %}
                        vendor 신청하기
                    {% else %}
                        vendor profile 수정하기
                    {% endif %}
                </a></div>
            {% endif %}
        {% endif %}
{% endblock %}


