{% extends "base.html" %}
{% block title %}
    Sign Up
{% endblock %}
<body>
    {% block body %}
        {% include 'includes/messages.html' %}
        <section class="section-container">
            <article class="article-container">
            <div class="login-register-container">
                <div class="article-title">Password Update</div>
                <p>{{ user.email.split('@')[0] }}님의 비밀번호를 재설정 할 수 있어요 . . .</p>
                <form method="POST">
                    {{ form.csrf_token }}

                    <div class="form-group">
                        {{ form.password.label("비밀번호") }}
                        {{ form.password(class="form-control", placeholder="비밀번호") }}</div>
                    <div class="form-group">
                        {{ form.repassword.label("비밀번호 확인") }}
                        {{ form.repassword(class="form-control", placeholder="비밀번호 확인") }}
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">등록</button>
                </form>
                {% if not current_user.is_authenticated %}
                <p><a href="{{ url_for('accounts.login') }}">Login</a></p>
                <p><a href="{{ url_for('accounts.register') }}">SignUp</a></p>
                {% endif %}
            </div>
            </article>
        </section>
    {% endblock %}

</body>